@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar">
        <div class="sidebar-header text-center py-3">
            <img src="Images/golf-logo.png" alt="Portmarnock Golf Club" style="max-width: 150px; height: auto;" />
        </div>
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <PageTitle>Portmarnock Golf Club</PageTitle>
            <a href="https://github.com/cwmcfeely/PortmarnockGolfClub" target="_blank">GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
