/* Styles for the navbar toggle button */
.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Styles for the top navigation row */
.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

/* Styles for the navbar brand (logo/title) */
.navbar-brand {
    font-size: 1.1rem;
}

/* Styles for icons used in navigation */
.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

/* Styles for navigation items */
.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    /* Adds padding to the top of the first navigation item */
    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    /* Adds padding to the bottom of the last navigation item */
    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    /* Styles for links within navigation items */
    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

/* Styles for active navigation links */
.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

/* Hover styles for navigation links */
.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

/* Media query for screens wider than 640px */
@media (min-width: 641px) {
    /* Hide the navbar toggle button on wider screens */
    .navbar-toggler {
        display: none;
    }

    /* Ensure the sidebar is always visible on wider screens */
    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    /* Allow sidebar to scroll for tall menus on wider screens */
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}