<!-- Alert component for displaying a survey invitation -->
<div class="alert alert-secondary mt-4">
    <!-- Pencil icon for visual emphasis -->
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>

    <!-- Title of the alert, supplied by the parent component -->
    <strong>@Title</strong>

    <!-- Survey invitation text and link -->
    <span class="text-nowrap">
        Please take our
        <a target="_blank" class="font-weight-bold link-dark"
            href="https://go.microsoft.com/fwlink/?linkid=2186158">brief survey</a>
    </span>
    and tell us what you think.
</div>

@code {
    // Parameter to receive the Title from a parent component
    [Parameter]
    public string? Title { get; set; }
}